openapi: 3.0.1
info:
  title: Thinkific Admin Bundles Orders API
  description: Thinkific's public API can be used to integrate your application with your Thinkific site.
  termsOfService: https://www.thinkific.com/legal/
  contact:
    email: developers@thinkific.com
  version: v1
servers:
- url: https://api.thinkific.com/api/public/v1
security:
- OAuthAccessToken: []
- ApiKey: []
  ApiKeySubdomain: []
tags:
- name: Orders
  description: Orders operations
paths:
  /orders:
    get:
      tags:
      - Orders
      summary: Get Orders
      description: Retrieve a list of Orders
      operationId: getOrders
      parameters:
      - name: page
        in: query
        description: The page within the collection to fetch.
        schema:
          type: number
          default: 1.0
      - name: limit
        in: query
        description: The number of items to be returned.
        schema:
          type: number
          default: 25.0
      responses:
        200:
          description: Orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
  /orders/{id}:
    get:
      tags:
      - Orders
      summary: Get orders by ID
      description: Returns the orders identified by the provided id.
      operationId: getOrderByID
      parameters:
      - name: id
        in: path
        description: ID of the Orders in the form of an integer.
        required: true
        schema:
          type: number
      responses:
        200:
          description: Orders response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        403:
          $ref: '#/components/responses/ErrorForbiddenAppsNotAvailableResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
components:
  schemas:
    GetOrdersResponse:
      required:
      - items
      - meta
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderResponse'
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
    Item:
      type: object
      properties:
        product_id:
          type: number
          description: Product ID
          example: 1.0
        product_name:
          type: string
          description: Product name
          example: My Course
        amount_dollars:
          type: number
          description: Product price in dollars
          example: 20
        amount_cents:
          type: number
          description: Product price in cents
          example: 2000
    ErrorForbiddenAppsNotAvailable:
      type: object
      properties:
        error:
          type: string
          description: access forbidden
      example:
        error: Access to Apps is not available on your plan. Upgrade to gain access
    ErrorNotFound:
      type: object
      properties:
        error:
          type: string
          description: item not found error
      example:
        error: Record not found.
    OrderResponse:
      required:
      - amount_cents
      - amount_dollars
      - id
      - product_id
      - product_name
      - status
      - subscription
      - user_email
      - user_id
      - user_name
      type: object
      properties:
        user_id:
          type: number
          description: The ID of the User owning the Order as an integer.
          example: 1.0
        user_email:
          type: string
          description: The Email ID of the User.
          example: bob@example.com
        user_name:
          type: string
          description: The full name of the User owning the Order.
          example: Bob Smith
        product_name:
          type: string
          description: The name of the Product purchased.
          example: My Course
        product_id:
          type: number
          description: The ID of the Product purchased as an integer.
          example: 1.0
        amount_dollars:
          type: string
          description: The Order amount in dollars.
          example: '20.0'
        amount_cents:
          type: number
          description: The Order amount in cents.
          example: 2000.0
        subscription:
          type: boolean
          description: A boolean indicating whether the Order was for a subscription.
          example: false
        coupon_code:
          type: string
          description: The Coupon code used on the Order.
          example: abc123
        coupon_id:
          type: number
          description: The ID of the Coupon used on the Order as an integer.
          example: 1
        items:
          type: array
          description: Products included in the Order.
          items:
            $ref: '#/components/schemas/Item'
        affiliate_referral_code:
          type: string
          description: The Affiliate referral code used on the Order.
          example: exexex
        status:
          type: string
          description: The order status.
          example: complete
        created at:
          type: string
          description: The date/time that the Order was created.
        id:
          type: number
          description: The ID of the Order as an integer.
          example: 1.0
    Pagination:
      type: object
      properties:
        current_page:
          type: number
          description: Current page number
          example: 1.0
        next_page:
          type: number
          description: Next page number
          example: 2.0
        prev_page:
          type: number
          description: Previous page number
        total_pages:
          type: number
          description: Number of total pages
          example: 10.0
        total_items:
          type: number
          description: Number of total items
          example: 250.0
        entries_info:
          type: string
          description: Entries info
          example: 1-10 of 10
      description: Pagination metadata
  responses:
    ErrorForbiddenAppsNotAvailableResponse:
      description: Access Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorForbiddenAppsNotAvailable'
  securitySchemes:
    OAuthAccessToken:
      type: http
      scheme: bearer
    ApiKey:
      type: apiKey
      in: header
      name: X-Auth-API-Key
      description: Used together with ApiKeySubdomain
    ApiKeySubdomain:
      type: apiKey
      in: header
      name: X-Auth-Subdomain
      description: Used together with ApiKey
externalDocs:
  description: Find out more about Thinkifc's API
  url: http://developers.thinkific.com/api/api-documentation/
