openapi: 3.0.1
info:
  title: Thinkific Admin Bundles Events API
  description: Thinkific's public API can be used to integrate your application with your Thinkific site.
  termsOfService: https://www.thinkific.com/legal/
  contact:
    email: developers@thinkific.com
  version: v1
servers:
- url: https://api.thinkific.com/api/public/v1
security:
- OAuthAccessToken: []
- ApiKey: []
  ApiKeySubdomain: []
tags:
- name: Events
  description: Events operations
paths:
  /events/{id}:
    get:
      tags:
      - Events
      summary: Get Event by ID
      description: This endpoint returns the Event identified by the provided id.
      operationId: getEventByID
      parameters:
      - name: id
        in: path
        description: ID of the Event in the form of an string.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Event Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
components:
  schemas:
    ErrorNotFound:
      type: object
      example:
        error: Record not found.
    EventResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Event as an string.
          example: '1'
        resource:
          type: string
          description: The resource associated with that Event.
          example: order
        action:
          type: string
          description: The action that generated the Event.
          example: created
        created_at:
          type: string
          description: When the Event happened.
        payload:
          type: object
          description: A snapshot of the resource's attributes after the event occurrence.
  securitySchemes:
    OAuthAccessToken:
      type: http
      scheme: bearer
    ApiKey:
      type: apiKey
      in: header
      name: X-Auth-API-Key
      description: Used together with ApiKeySubdomain
    ApiKeySubdomain:
      type: apiKey
      in: header
      name: X-Auth-Subdomain
      description: Used together with ApiKey
externalDocs:
  description: Find out more about Thinkifc's API
  url: http://developers.thinkific.com/api/api-documentation/
